<?xml version="1.0"?>
<library path="src">
    <class name="Multiplot" type="rqt_multiplot2.multiplot_plugin.MultiplotPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
      Multiplot written in python for ROS2
    </description>
        <qtgui>
            <group>
                <label>Visualization</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to visualization.</statustip>
            </group>
            <label>Multiplot2</label>
            <icon type="theme">utilities-system-monitor</icon>
            <statustip>A Python GUI for plotting.</statustip>
        </qtgui>
    </class>
</library>
